flows6.json
[{"id":"8b743933.2660f8","type":"tab","label":"流程7","disabled":false,"info":""},{"id":"6458cf50.2b965","type":"inject","z":"8b743933.2660f8","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["5b45d8d2.8d0f08"]]},{"id":"eaf8896d.2d4dd8","type":"inject","z":"8b743933.2660f8","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["5b45d8d2.8d0f08"]]},{"id":"5b45d8d2.8d0f08","type":"mqtt out","z":"8b743933.2660f8","name":"","topic":"mcs/DSN64wMG/8XLRzyRbyReLNhRn/Temperature","qos":"2","retain":"","broker":"bbd0c967.13c2a8","x":360,"y":200,"wires":[]},{"id":"bbd0c967.13c2a8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]