flows7.json
[{"id":"e603c015.5c026","type":"tab","label":"MQTT212/29","disabled":false,"info":""},{"id":"de0ef5e5.a4f118","type":"mqtt in","z":"e603c015.5c026","name":"","topic":"mcs/DSN64wMG/8XLRzyRbyReLNhRn/+","qos":"2","datatype":"auto","broker":"39ff7054.9dc5d","x":220,"y":220,"wires":[["54a5d15c.3ae65"]]},{"id":"54a5d15c.3ae65","type":"csv","z":"e603c015.5c026","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","strings":true,"x":170,"y":340,"wires":[["bf15e26b.bdf14"]]},{"id":"bf15e26b.bdf14","type":"change","z":"e603c015.5c026","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["8f998ec8.c3f68"]]},{"id":"8f998ec8.c3f68","type":"ui_gauge","z":"e603c015.5c026","name":"","group":"ba3fda9.b2a0328","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":480,"wires":[]},{"id":"39ff7054.9dc5d","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba3fda9.b2a0328","type":"ui_group","z":"","name":"Status","tab":"276c9e2b.38a952","order":1,"disp":true,"width":"6","collapse":false},{"id":"276c9e2b.38a952","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]